<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConsumerKey" value="" />
    <add key="ConsumerSecret" value="" />
    <!-- Optional: access token will be retrieved at runtime if not specified but requires administrator privileges
    <add key="AccessToken" value="" />
    <add key="AccessTokenSecret" value="" />
    -->
  </appSettings>
</configuration>